*{
    padding: 0px;
    margin: 0px;
}
.navigation-bar0{
    width: 100%;
    display: flex;
    justify-content: center;
    position: sticky;
}
.navigation-bar{
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.website-logo{
    width: 50px;
}
.navigation-links{
    width: 40%;
    display: flex;
    justify-content: space-between;
}
.navigation-icons{
    font-size: 20px;
    font-weight: bolder;
}
.heroes-section{
    position: relative;
}
.hero-section-image{
    width: 100%;
    height: 500px;
}
.tag-line{
    width: 100%;
    font-size: 80px;
    font-style: oblique;
    text-align: center;
    position: absolute;
    top: 30%;
}